{% extends "base.html.twig" %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
<main>
        <div class="container mt-5 mt-lg-5">
            <h3 class="fw-bold">Bienvenue chez The Women Beauty!</h3><br><br>
            <p class="fw-bold"> The Women Beauty est un site de réservation de prestation de beauté à domicile dans l'Essonne.</p><br>
{% endblock %}