{% extends "base.html.twig" %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5">
			<div class="row-cgu">
				<div class="card card-cgu col-12">
					<div class="card-header header-profil-user">
						<h3 class="modal-title text-white text-center">📋 Conditions générales d'utilisation 📋</h3>
					</div>
					<div class="card-body body-cgu">
						<h4 class="mt-2 card-text fw-bold text-center text-primary">Conditions générales d’utilisation du site et des services proposés.</h4>
                        <p class="mt-3 card-text text-primary">L’utilisation du site viavytsara.fr implique l’acceptation pleine et entière 
						des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont 
						susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site 
						viavytsara.fr sont donc invités à les consulter de manière régulière.</p>
						<h4 class="mt-5 card-text fw-bold text-center text-primary">Propriété intellectuelle et contrefaçons.</h4>
						<p class="mt-3 card-text text-primary">viavytsara.fr est propriétaire des droits de propriété intellectuelle 
						ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les 
						textes, images, graphismes, logo, icônes, sons, logiciels.</p>
						<p class="card-text text-primary">Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments 
						du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.</p>
						<p class="card-text text-primary">Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée 
						comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et 
						suivants du Code de Propriété Intellectuelle.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
