{% extends "base.html.twig" %}

{% block title %}QUESTIONS FREQUENTES{% endblock %}
{% block stylesheet %}
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5">
			<div class="row-cgu">
				<div class="card card-cgu col-12">
					<div class="card-header header-profil-user">
						<h3 class="modal-title text-center">Questions Fréquentes</h3>
					</div>
                     <div class="card-body">
                    <details>
                        <summary class="mt-2 card-text fw-bold text-center text-success">Disponibilité des produits</summary>
                        <p class="mt-3 card-text"> Les produits proposés par VIAVYTSARA sont valables tant qu’ils sont visibles sur le site dans la limite des stocks disponibles. Les indications sur la disponibilité des produits vous sont fournies au moment du passage de la commande. Dans l’éventualité d’une indisponibilité de produit après passation de la commande,VIAVYTSARA s’engage à en informer le client par e-mail dès réception des informations dans les meilleurs délais. La commande sera automatiquement annulée et le client immédiatement remboursé si son compte a été débité. Le remboursement s’effectuera directement sur le compte bancaire du client au plus tard dans les 15 jours à compter du paiement des sommes versées par le client.</p>
                        </details>
					</div>
                    <div class="card-body">
					<details>
                        <summary class="mt-2 card-text fw-bold text-center text-success">Conditions de livraison</summary>
                        <p class="mt-3 card-text"> Les colis seront préparés et envoyés dans les 2 jours suivants la réception de la commande du client et de son paiement.
                        Les délais de livraison varient entre 5 et 15 jours après validation de la commande du client.
                        En période d’opérations commerciales, VIAVYTSARA se réserve la possibilité d’un délai supplémentaire de 2 jours ouvrés sur les livraisons.
                        La livraison à l’international est payante, et VIAVYTSARA se réserve le droit de majorer toute commande d’un coût supplémentaire dans le cas d’un excédent de poids ou pour toute autre motif nécessaire que le client accepte par le biais des présentes CGV.
                        La livraison de toute commande sera assurée par DHL, garantissant une qualité de service, et la possibilité d’être suivie, grâce à un numéro de suivi.
                        En cas de retard de livraison supérieur à 21 jours, VIAVYTSARA ne saurait être tenu pour responsable, mais le Client pourra annuler sa commande et demander remboursement.</p>
                    </details>
					</div>
                    <div class="card-body">
					<details>
                        <summary class="mt-2 card-text fw-bold text-center text-success">Droit de retractation</summary>
                        <p class="mt-3 card-text"> Conformément à la loi, le client dispose d’un droit de rétractation de 14 jours pour nous retourner les produits sans avoir à justifier du motif, conformément aux dispositions des articles L 121 et suivants du code de la consommation. Ce délai court à compter de la réception de la marchandise. Ce droit s’exerce par le renvoi du produit (les frais de renvois seront à la charge du client).Si le client exerce son délai de rétractation, la société VIAVYTSARA s’engage à lui rembourser les sommes versées dans un délai maximum de 15 jours selon le mode de paiement qui avait été choisi.
                        Conformément aux conditions générales de vente de VIAVYTSARA, seuls les articles retournés dans leur emballage d’origine et dont l’opercule intacte seront acceptés. Il appartiendra au client de conserver toute preuve de retour. Le droit de rétractation s’exerce dans les mêmes conditions dès la commande et avant la livraison.</p>
                    </details>
					</div>
                    <div class="card-body">
					<details>
                        <summary class="mt-2 card-text fw-bold text-center text-success">Retour et échanges</summary>
                        <p class="mt-3 card-text"> Les risques du transport sont supportés par le client, qui devra formuler une protestation motivée auprès du transporteur.
                        Ceci étant, malgré tout le soin apporté par VIAVYTSARA dans la préparation des colis, il se peut qu’un produit soit manquant. De même, après transport du colis, l’un des produits peut s’avérer défectueux.
                        C’est pourquoi, à la réception de sa commande, le client veillera à vérifier la conformité des produits reçus. Toute anomalie concernant la livraison (produit manquant ou colis endommagé) devra impérativement être notifiée, le jour même de la réception ou au plus tard le premier jour ouvré suivant la réception, au service clients de VIAVYTSARA, par e-mail (viavytsara0@gmail.com).
                        Toute réclamation formulée après 2 jours à partir de la réception du colis sera rejetée et VIAVYTSARA sera dégagé de toute responsabilité. VIAVYTSARA se réserve la possibilité de demander au client de lui retourner le produit défectueux.
                        VIAVYTSARA procèdera à un remboursement (ou échange) dans le cas où :
                        <ul>
                            <li> Le produit livré au client présente un défaut</li>
                            <li>Le produit reçu par le client ne correspond pas à sa commande validée sur le site</li>
                        </ul>
                        <p class="mt-3 card-text">La procédure à suivre :
                        <ul>
                        <li>Après l’examen de la requête du client (et éventuellement des photos à l’appui), VIAVYTSARA informera le client de l’éligibilité de sa demande à être remboursée.</li>
                        <li>Dans le cas où la demande est acceptée, le produit doit être renvoyé dans son état d’origine, les étiquettes de vente encore attachées, dans son emballage d’origine, accompagnée de l’original de la facture. Le produit ne doit pas avoir été utilisé ou porté, endommagé ou lavé, nettoyé. VIAVYTSARA se réserve le droit de refuser tout produit ne respectant pas les conditions citées plus haut.</li>
                        <li>Tout retour de produit doit s’effectuer dans les 2 jours suivant la réception de l’e-mail confirmant l’éligibilité au remboursement (ou retour) de la commande.</li>
                        <li>Le remboursement et les frais engagés pour la livraison retour s’effectueront par virement bancaire, une fois le produit réceptionné par VIAVYTSARA. Nous encourageons le client à utiliser un service de qualité avec numéro de suivi de colis, afin d’assurer des conditions de livraison fiables.</li>
                        <li>VIAVYTSARA ne pourra être tenue responsable d’un colis perdu ou endommagé renvoyé par le client et il ne sera procédé à aucun remboursement dans ce cas.</li>
                        </p>
                    </details>
                    <details>
                        <summary class="mt-2 card-text fw-bold text-center text-success">Autres questions</summary>
                    <p class="mt-3 card-text"> Pour toutes autres questions, veuillez nous contacter : <a href="{{path('contact')}}">Contactez nous</a></p>
                    </details>
						</div>
				</li>

                </div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}