{% extends "base.html.twig" %}

{% block title %}Prestations
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="mt-3 pt-2">
			<h1 class="d-flex justify-content-center">Prestations :
			</h1>

		</div>
		<img src="{{ asset(categorie.image)}}" class="card-img-top" alt="{{ categorie.ImageAlt }}">
		{% for soin in soins %}
		
			<div class="elementor-price-list-header">
				<span class="elementor-price-list-title">
					{{soin.titre}}
				</span>
				<span class="elementor-price-list-separator"></span>
				<span class="elementor-price-list-price">
					{{soin.prix}}€</span>
			</div>

		{% endfor %}

	{% endblock %}
