{% block title %}Envoi de mail de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d’être envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de mail, vérifiez vos courriers indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
