{% extends 'base.html.twig' %}

{% block title %}Nouveau Soin{% endblock %}

{% block body %}
     <h1>Créer un nouveau Soin</h1>

    {{ include('soin/_form.html.twig') }}

    <a href="{{ path('soin_index') }}">back to list</a>
{% endblock %}
