{% extends 'base.html.twig' %}

{% block title %}Edit ProduitBoutique{% endblock %}

{% block body %}
    <h1>Edit ProduitBoutique</h1>

    {{ include('produit_boutique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('produit_boutique_index') }}">back to list</a>

    {{ include('produit_boutique/_delete_form.html.twig') }}
{% endblock %}
