{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    <button type="submit" class="btn btnpanier">Payer</button>
{{ form_end(form) }}
