{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}

 <div class="container mt-5 mt-lg-5">
    
<h3> Merci de compléter les étapes ci-dessous pour prendre rendez-vous!</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">back to list</a>
    
{% endblock %}
