{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block body %}
<main>
		<div class="container mt-5 mt-lg-5">
			<div class="mt-3 pt-2">
				<h1 class="text-center text">Votre nouvelle Adresse</h2>

				<div class="col-12 col-lg-6">

                 {{ include('adresse/_form.html.twig')}}

                 </div>

                    <a href="{{ path('moncompte') }}">retour</a>

    </div>
    </div>
    </main>
{% endblock %}
