{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
   <h1 class="my-5 text-center">Modifier l'utilisateur</h1>
	<div class="card text-dark bg-warning mb-3" style="max-width: 23rem;">
		<div class="card-header">
            <h5 class="card-title">⚠️ Rappel à propos des rôles ⚠️</h5>
        </div>
		<div class="card-body">
            <ul class="pricing-list text-start">
				<li>
					<p>Administrateur => ROLE_ADMIN</p>
				</li>
				<li>
					<p>Utilisateur => ROLE_USER</p>
				</li>
			</ul>		
        </div>
	</div>
    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('users_index') }}">back to list</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
