{% extends 'base.html.twig' %}

{% block title %}Commande effectuée
{% endblock %}

{% block body %}
    <main>
		<div class="container mt-5">
			<div class="row-cgu">
				<div class="card card-cgu  col-12">
					<div class="card-header header-profil-user">
						<h3 class="modal-title text-white text-center">✔️ Merci pour votre commande ! ✔️</h3>
					</div>
					<div class="card-body body-cancel">
						<div class="mt-2">
                            <p>Nous vous remercions d'avoir effectué votre commande sur notre site. 
                            Nous restons à votre disposition à l'adresse suivante : <a href="mailto:viavytsara0@gmail.com">viavytsara0@gmail.com</a> 
                            pour tout autres questions.</p>
                            <p>Cordialement,</p>
							<p>L'équipe de viavytsara.fr</p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
