<footer class="mt-5">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                    Copyright &copy; ViavyTsara 2022
                </span>
            </div>
            <div class="collapse navbar-collapse justify-content-between">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('CGU')}}">Conditions générales d'utilisation</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('conf')}}">Politique de confidentialité</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
