<footer class="mt-5">
	<nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                    Copyright &copy; The Women Beauty 2022
                </span>
            </div>
        </div>
    </nav>
</footer>